<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ivuriro</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/header', { title: 'Home | Ivuriro' }) %>

    <section>
      <h2>Ivuriro</h2>
      <h1>Refining Your Natural Beauty</h1>
      <h3>
        Redefining facial and body contouring with a seamless blend of advanced
        technology and aesthetic artistry. Whether you're looking for a
        revitalizing treatment, non-invasive anti-aging solution, or subtle
        enhancement, our team transforms every visit into a journey toward
        authentic beauty and well-being
      </h3>
    </section>

    <section>
      <div class="card">
        <h2>1.Facial Treatments</h2>
        <h3>
          Rejuvenate your skin with our advanced facial treatments including
          Botox, dermal fillers, and skin boosters.
        </h3>
        <h3>Learn more</h3>
      </div>

      <div class="card">
        <h2>2.Body contouring</h2>
        <h3>
          Rejuvenate your skin with our advanced facial treatments including
          Botox, dermal fillers, and skin boosters.
        </h3>
        <h3>Learn more</h3>
      </div>

      <div class="card">
        <h2>3.Personalised care</h2>
        <h3>
          Rejuvenate your skin with our advanced facial treatments including
          Botox, dermal fillers, and skin boosters.
        </h3>
        <h3>Learn more</h3>
      </div>
    </section>

    <section>
      <h1>What Our Clients Say</h1>
      <h2>
        Real stories from real people who have experienced the MIL-clinique
        difference
      </h2>
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
